.container {
  max-width: calc($containerWidth + 100px);
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  align-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  @media only screen and (min-width: $medium) {
    padding: 50px;
  }
}
