.header {
  $contWidth: 1540px;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: $black;
  color: $grey;
  border-bottom: 1px solid color-mod($black tint(25%));

  &__container {
    width: 100%;
    margin: 0 auto;
    max-width: $contWidth;
    display: grid;
    grid-template-columns: 1fr auto auto;
    box-sizing: border-box;
  }

  &__title {
    font-size: 1.75rem;
    line-height: 1.75rem;
    height: 100%;
    background-color: $black;
    user-select: none;
    display: grid;
    padding-left: clamp(0px, calc(($contWidth - 100vw) / 2), 20px);

    @media only screen and (min-width: $medium) {
      font-size: 2.5rem;
      line-height: 2.5rem;
      padding-left: clamp(0px, calc(($contWidth - 100vw) / 2), 50px);
    }
  }

  &__title-link {
    text-decoration: none;
    color: $red;
    align-self: center;
    justify-self: start;
    height: 100%;
    display: grid;
    place-items: center;

    @media only screen and (min-width: $medium) {
      font-size: 2.5rem;
    }
  }

  &__vibe {
    font-weight: $bold;
  }

  &__rates {
    font-weight: $light;
  }

  &__ibe,
  &__ates {
    display: none;

    @media only screen and (min-width: $small) {
      display: inline-block;
    }
  }

  &__search {
    font-size: 2rem;
    user-select: none;
    background-color: $black;
    border-left: 1px solid color-mod($black tint(25%));
    border-right: 1px solid color-mod($black tint(25%));
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    width: $headerHeight;
    height: calc(2.5rem + 40px);
    cursor: pointer;
    transition: background-color 250ms ease-out;

    &:hover {
      background-color: color-mod($black tint(12.5%));
    }

    &--active {
      background-color: color-mod($black tint(12.5%));
    }
  }

  &__user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    height: calc(2.5rem + 40px);
    user-select: none;
    background-color: $black;
    border-left: 1px solid color-mod($black tint(25%));
    cursor: pointer;

    &:hover > .menu {
      top: 100%;
    }
  }

  &__user-image {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    overflow: hidden;

    & > img {
      width: 100%;
    }
  }
}
