.home-section {
  grid-column: 1/5;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: flex-start;

  &--sidebar {
    grid-template-columns: 1fr;
  }

  &--gap-40 {
    gap: 40px;
  }

  &--user {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  &__header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1rem;
    height: 1rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__view-all-link {
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    align-self: flex-end;
    font-size: 0.625rem;
    transition: color 250ms ease-out;

    &:hover {
      color: color-mod($black tint(50%));
    }
  }

  &__column {
    display: grid;
    gap: 10px;
  }
}
