.home-section {
  grid-column: 1/5;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  align-items: flex-start;

  &--sidebar {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  &--gap-40 {
    gap: 40px;
  }

  &--user {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }

  &--hot-albums,
  &--top-rated,
  &--new-releases {
  }

  &__header {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
    align-self: flex-end;
    height: 1rem;
    transition: color 250ms ease-out;

    &:hover {
      color: color-mod($black tint(50%));
    }

    & > h2 {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  &__column {
    display: grid;
    gap: 10px;
  }
}
