.live-validate-message {
  font-size: 0.625rem;
  font-weight: $bold;
  padding: 5px 5px 10px;
  background-color: color-mod($red tint(50%));
  border: 1px solid $red;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: -1;

  &-enter {
    opacity: 0;
    top: 28px;

    &-active {
      opacity: 1;
      top: 0;
      transition: all 205ms ease-out;
    }
  }

  &-exit {
    opacity: 1;
    top: 0;

    &-active {
      opacity: 0;
      top: 28px;
      transition: all 205ms ease-out;
    }
  }
}
